body {
  width: 960px;
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serf;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 3em;
}

section p {
  text-align: justify;
}

svg {
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 auto;
}

text {
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
}

/* This styles the title of the tooltip */
.tipsy .name {
  font-size: 1.5em;
  font-weight: bold;
  color: #60b1fc;
  margin: 0;
  margin-bottom: 10px;
}

/* This styles the body of the tooltip */
.tipsy .description {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 5px;
}

.tipsy .description a {
  color: cyan;
  text-decoration: none;
}

/* Components */

.comp-celery-task rect {
  fill: cyan;
}

.comp-database rect {
  fill: navajowhite;
}

.comp-kafka rect {
  fill: beige;
}

.comp-uwsgi rect {
  fill: lightsalmon;
}

.comp-redis rect {
  fill: mistyrose;
}

/* Edges */

.main-flow path {
  stroke: brown;
  stroke-width: 2px;
}

.redis-buffers-flow path {
  stroke-dasharray: 8, 4;
}
